<html>
<head>
    <script src="angular.js"></script>
</head>
<body>

    <div ng-app="myApp" ng-controller="myController">
        <select ng-model="Monthlist">
            <option ng-repeat="x in List">{{x}}</option>
          </select>
    </div>

    <script>
        var myApp = angular.module("myApp",[]);
        myApp.controller('myController', function($scope) { 
            $scope.List = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        });
    </script>
    
</body>
</html>



